name: spotiflac_mobile
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: '>=3.5.0 <4.0.0'
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  dio: ^5.7.0
  provider: ^6.1.2
  path_provider: ^2.1.5
  permission_handler: ^11.3.1
  logger: ^2.5.0
  ffmpeg_kit_flutter: ^6.0.3
  google_fonts: ^6.2.1
  flutter_animate: ^4.5.2
  shared_preferences: ^2.3.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
